.wrap {
  position: relative;
}

.avatar {
  position: relative;
  &Img {
    position: relative;
  }
}

.container {
  position: relative;
}

.tag {
  position: relative;
  &Wrap {
    position: relative;
  }
}
